@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #B6FFFF;
  --dark: #121212;
}

body {
  font-family: "poppins", sans-serif;
  min-width: 100vw;
  background-color: var(--dark);
  color: #fff;
}

/* Container */
.container {
  margin: 4rem auto 7rem;
  text-align: center;
}

.heading {
  color: var(--primary-color);
}

.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#check-button {
  background: var(--primary-color);
  border: none;
  color: #000;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  margin: auto;
  display: block;
}

#error-message {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
}

/* Table */
.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  color: #fff;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  font-weight: 600;
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}